@model IEnumerable<NeonTrees.Models.Product>

@{
    ViewData["Title"] = "ViewProducts";
}

<h1>ViewProducts</h1>

<table class="table" style="flex:1;overflow-y:auto; width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InventoryValue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="flex:1;overflow-y:auto; width:100%">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InventoryValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartType)
                </td>
                <td>
                    <img src="@Html.DisplayFor(modelItem => item.URL)" />
                </td>
            </tr>
        }
    </tbody>

</table>
